body{
    font-family: sans-serif;
    color: #fdfffc;
    background-color: #011627;
}
h1{
    line-height: 0px;
    font-size: 500%;
    font-weight: 800;
    text-shadow: -6px -6px #ff9f1c;
    padding:20px;
}

.products{
    background-color: #000000;
    align-items: center;
    padding: 0px;
    text-align: center;
    width: 300px;
    margin: 20px;
    height: 300px;
    float: left;
    border: 5px solid #fdfffc;

}
a{
    font-size: 150%;
    text-decoration: none;
    color: #fdfffc;
}
a:hover{
    text-shadow:2px 2px #2ec4b6;
}
table{
    text-align: center;
    padding: 40px;
}
hr{
    color: solid white;
}
p1{
    padding:20px;
    font-weight: 800;
}
.logo{

    font-size: 500%;
    font-weight: 800;
    text-shadow: -6px -6px #e71d36;
    padding:20px;
}
.logo:hover{
    text-shadow: 6px 6px #2ec4b6;
}