body{
    font-family: sans-serif;
    color: #e5e5e5;
    background-color: #000000;
}
h1{
    font-size: 500%;
    font-weight: 800;
    text-shadow: -6px -6px #fca311;
    padding:20px
}
.products{

    padding: 5px;
    text-align: center;
    width: 300px;
    margin: 6px;
    height: 300px;
    float: left;
    border: 5px solid #e5e5e5;

}
.products hover{
    border: 3px #fca311;
}
a{
    font-size: 150%;
    text-decoration: none;
    color: #ffffff;
}
a:hover{
    text-shadow:2px 2px #787879;
    
}